<a href="https://colab.research.google.com/github/Hank-Cui/otis2019/blob/master/Score_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
############## STARTS HERE ################

In [1]:
# Mount Google Drive

from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np
from math import tanh

In [0]:
# Pandas Settings

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 1000)
pd.set_option('display.width', 1000)

In [0]:
# Read the data using Pandsa

df_u = pd.read_csv('/gdrive/My Drive/Blair/10/KWHS2019/useful_annual(1).csv')
df_otis = pd.read_csv("/gdrive/My Drive/Blair/10/KWHS2019/KWHS_list.csv")

In [0]:
# Returns increased percentages of gross profit

def gross_profit(company_name):  
    d = df_u[df_u['tic']==company_name][['datadate', 'tic', 'gp']]
    
    data = d.dropna(subset = ['gp'])  # Drop the rows that have no data
    gp = np.array(data['gp'], dtype=np.float32)
    total = 0

    # Slice the data to take only last four years
    gp = gp[-4:] if len(gp) > 4 else gp 

    for i in range(1, len(gp[-4:])):
        total += 0 if gp[-i-1] == 0 else (gp[-i] - gp[-i-1]) / abs(gp[-i-1])

    denominator = 1 if len(gp)-1 == 0 else len(gp)-1
    return total/denominator  # Find average and take 3 sigfig

In [0]:
def revenue_Growth(company_name):  # Return increase percentage
    d = df_u[df_u['tic']==company_name][['datadate', 'tic', 'revt']]
    
    data = d.dropna(subset = ['revt'])
    var = np.array(data['revt'], dtype=np.float32)
    total, avg = (0, 0)
    
    L = var[-4:] if len(var) > 4 else var

    for i in range(1, len(L)):
        total += 0 if L[-i-1] == 0 else (L[-i] - L[-i-1]) / abs(L[-i-1])

    denominator = 1 if len(L)-1 == 0 else len(L)-1
    return total/denominator

In [0]:
def free_Cash_Flow(company_name):  # Returns increased percentages 
    d = df_u[df_u['tic']==company_name][['datadate', 'tic', 'oancf', 'capx']]
    
    data = d.dropna(subset = ['oancf', 'capx'])

    var1 = np.array(data['oancf'], dtype=np.float32)
    var2 = np.array(data['capx'], dtype=np.float32)
    total = 0
    
    L1, L2 = (var1[-4:], var2[-4:]) if len(var1) > 4 else (var1, var2)

    for i in range(1, len(L1)):
        next_term = L1[-i-1] - L2[-i-1]
        if next_term == 0:
          total += 0
        else:
          first_term = L1[-i] - L2[-i]
          total += (first_term - next_term) / abs(next_term)

    denominator = 1 if len(L1)-1 == 0 else len(L1)-1
    return total/denominator

In [0]:
def ebit(company_name):  # Finalized. Returns increased percentages
    d = df_u[df_u['tic']==company_name][['datadate', 'tic', 'ebit']]
    
    data = d.dropna(subset = ['ebit'])
    var = np.array(data['ebit'], dtype=np.float32)
    total = 0
    
    L = var[-4:] if len(var) > 4 else var

    for i in range(1, len(L)):
        total += 0 if L[-i-1] == 0 else (L[-i] -  L[-i-1]) / abs(L[-i-1])

    denominator = 1 if len(L)-1 == 0 else len(L)-1
    return total/denominator

In [0]:
def roa(company_name):  # Returns average yearly values
    d = df_u[df_u['tic']==company_name]\
    [['datadate', 'tic', 'at', 'lt', 'ni']]

    data = d.dropna(subset = ['ni', 'at', 'lt'])

    var1 = np.array(data['ni'], dtype=np.float32)
    var2 = np.array(data['at'], dtype=np.float32)
    var3 = np.array(data['lt'], dtype=np.float32)
    total = 0
    
    if len(var1) > 4:
        L1, L2, L3 = var1[-4:], var2[-4:], var3[-4:]
    else:
        L1, L2, L3 = var1, var2, var3

    for i in range(len(L1)):
        total += L1[i]/abs(L2[i] - L3[i])
    
    denominator = 1 if len(L1)-1 == 0 else len(L1)-1
    return total / denominator

In [0]:
def optdr(company_name):  # Finalized Returns increased percentages
    d = df_u[df_u['tic']==company_name]\
    [['datadate', 'tic','optdr']]
    
    data = d.dropna(subset = ['optdr'])
    var = np.array(data['optdr'], dtype=np.float32)
    total = 0
    
    L = var[-4:] if len(var) > 4 else var

    for i in range(1, len(L)):
        total += 0 if L[-i-1] == 0 else (L[-i] - L[-i-1]) / abs(L[-i-1])

    denominator = 1 if len(L)-1 == 0 else len(L)-1
    return total / denominator

In [0]:
def roe(company_name):  # Returns average yearly values
    d = df_u[df_u['tic']==company_name]\
    [['datadate', 'tic', 'ni', 'teq']]

    data = d.dropna(subset = ['ni', 'teq'])
    var1 = np.array(data['ni'], dtype=np.float32)
    var2 = np.array(data['teq'], dtype=np.float32)
    total = 0
    
    if len(var1) > 4:
        L1, L2 = var1[-4:], var2[-4:]
    else:
        L1, L2 = var1, var2

    for i in range(len(L1)):
        total += 0 if L1[i] == 0 else L1[i]/abs(L2[i])
            
    denominator = 1 if len(L1)-1 == 0 else len(L1)-1
    return total / denominator

In [0]:
# Sum of different functions nomalized with tanh

def sum_with_tanh(Name):
    Result = 0.9 * tanh(free_Cash_Flow(Name)) \
            + 1 * tanh(revenue_Growth(Name)) \
            + 1.7 * tanh(gross_profit(Name)) \
            + 1.2 * tanh(ebit(Name)) \
            + 0.6 * tanh(optdr(Name)) \
            + 1.2* tanh(roa(Name))
    return Result

In [0]:
# Store the data in Google Drive

for sector in df_otis.SECTOR.unique().tolist()[:-1]:

    tech = df_otis[df_otis['SECTOR'] == sector]
    data = tech['TICKER'].tolist()

    results_pair = {}

    for x in data:
        resultVal = sum_with_tanh(x)
        results_pair[x] = resultVal

    rank = sorted(resultsPair.items(), key=lambda x: x[1], reverse=True)
    df_result  = pd.DataFrame(rank, columns =['Company', 'index'])
    df_result.to_csv(r"/gdrive/My Drive/Blair/10/KWHS2019/LT_Predictions/"+ sector +".csv")

In [0]:
############## ENDS HERE ##################

In [0]:
# Testing Section

compl = df_otis[df_otis["SECTOR"]=="Consumer Discretionary"]['TICKER']
compl = compl.tolist()
for comp in compl:
    assert(roe(comp) == roe1(comp))
    print(roe(comp), roe1(comp))

import time
start_time = time.time()
roe1(comp[0])
print("--- %s seconds ---" % (time.time() - start_time))
start_time2 = time.time()
roe(comp[0])
print("--- %s seconds ---" % (time.time() - start_time2))

In [0]:
def PB_Ratio(company_name): #TBD #Measuring avg value
    comp = df_a[df_a['tic']==company_name]\
    [['datadate', 'tic', 'revt', 'gp', 'oancf', 'capx', 'at', 'lt', 'ebit', \
      'mkvalt', 'optdr', 'ni', 'epspi', 'bkvlps']]
    
    data = d.dropna(subset = ['bkvlps'])
    
    
    var1 = ________________________________________________.tolist() #[4年前，3年前，两年前，1年前] 收盘价
    var2 = data['bkvlps'].tolist()
    
    avg = 0
    
    total = 0
    
    if len(var1) > 4:
        newList1 = [var1[-4], var1[-3], var1[-2], var1[-1]]
        newList2 = [var2[-4], var2[-3], var2[-2], var2[-1]]
    else:
        newList1 = var1
        newList2 = var2

    if len(var1) > 1:
        for i in range(1, len(newList1)):
            if newList1[-i-1] == 0:
              total += 0
            else:
              total += newList1[-i] / newList2[-i]
    
    if total == 0:
      avg = 0
    else:
      result = (total / (len(newList1)))
      avg = round((total) / len(newList1), 3)

    return avg

In [0]:
def PE_Ratio(company_name): #TBD #Measuring avg value
    comp = df_a[df_a['tic']==company_name]\
    [['datadate', 'tic', 'revt', 'gp', 'oancf', 'capx', 'at', 'lt', 'ebit', \
      'mkvalt', 'optdr', 'ni', 'epspi', 'bkvlps']]
    
    data = d.dropna(subset = ['optdr', 'epspi'])
    
    var1 = data['mkvalt'].tolist()
    var2 = __________________________________________.tolist() #[4年前，3年前，两年前，1年前]  number of stocks outstanding
    var3 = data['epspi'].tolist()

    avg = 0
    
    total = 0
    
    if len(var1) > 4:
        newList1 = [var1[-4], var1[-3], var1[-2], var1[-1]]
        newList2 = [var2[-4], var2[-3], var2[-2], var2[-1]]
        newList3 = [var3[-4], var3[-3], var3[-2], var3[-1]]
    else:
        newList1 = var1
        newList2 = var2
        newList3 = var3

    if len(var1) > 1:
        for i in range(1, len(newList1)):
            if newList1[-i-1] == 0:
              total += 0
            else:
              total += (newList1[-i] - newList2[-1])/newList3[-i]
    
    if total == 0:
      avg = 0
    else:
      result = (total / (len(newList1)))
      avg = round((total) / len(newList1), 3)

    return avg

In [0]:
useful = df[['datadate', 'tic', 'revt', 'gp', 'oancf', 'capx', 'at', 'lt', 'ebit', 'mkvalt', 'optdr', 'ni', 'epspi', 'bkvlps', 'teq']]
useful.to_csv(r"/gdrive/My Drive/Blair/10/KWHS2019/useful_annual(1).csv")